[submodule "src/plugins/showReplies"]
	path = src/plugins/showReplies
	url = https://github.com/philosolog/showReplies.git
[submodule "src/plugins/vencordYomitan"]
	path = src/plugins/vencordYomitan
	url = https://github.com/philosolog/vencordYomitan.git
